<!DOCTYPE html>
<header>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> 
	<link rel="stylesheet" href="style.css" type="text/css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://unpkg.com/vue"></script>
	<script src="https://unpkg.com/vue-resource"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	<script src="skript.js"></script>
	<title>LEGIT</title>
</header>


<body>
	<div class="page">

		<div class="navigation">
			<ul id="navbar">
				<li class="navpoint"><a href="#home" class="logo" class="navitem">LEGIT</a></li>
			
					<li class="navitem" id="create" v-if="rechteSeite" v-on:click="switching">Witz schreiben</li>
					
					<li class="navitem" id="create" v-if="!(rechteSeite)" v-on:click="back_switching">Automat anzeigen</li>
					
				<li v-for="category in cate" class="navpoint"><span href="#witz" class="navitem" v-on:click="wechsel(category.ID)">{{ category.Name }}</span></li> <!--verlinkung geht noch nicht-->
				<li class="navpoint" id="username">USERNAME</li>			<!--Menuleiste oben-->

			</ul>
		</div>

		<div id="rest">fgf

			<div class="witzspalte">
				<div class="witze-div" v-for="witz in witze">
					<table class="joke-tabelle">

						<tr>
							<td class="smiley"><i  class="fa fa-smile-o" aria-hidden="ture" v-on:click.once="witz.Upvotes += 1"></i></td>
							<td>{{ witz.Content }}</td>
							<td class="smiley"><i class="fa fa-meh-o"  aria-hidden="true" v-on:click.once="witz.Downvotes += 1"></i></td>
						</tr>
						<tr>
							<td>{{ witz.Upvotes }}</td>
							<td>Witz von <span class="button1">{{ witz.Username }}</span> am {{ witz.Date }}</td>
							<td>{{ witz.Downvotes }}</td>
						</tr>				

					</table>		<!--Witze tabelle-->
				</div> 			 <!--WitzeDiv-->
			</div>			<!--linke hälfte mit witzen-->

			<div class="rechts">
				<div class="container" v-if="rechteSeite">

					<div v-if="(zeit == 0 && coins > 0)" class="hebel" v-on:click="zufall" ref="knuppel"></div>
					<img v-if="(zeit == 0 && coins > 0)" class="automat" src="random/Automat_oben.jpg" alt="Automat hebel oben" ref="automatoben">
					<img v-if="zeit > 0" class="automat" src="random/Automat.gif" alt="Automat in Bewegung"> 	<!--Automat mit Coins-->
					<img v-if="coins == 0" class="automat" src="random/Automat_leer.jpg" alt="Automat ohne Geld"> <!--Automat ohne Coins-->
					<div v-if="zeit == 0" class="random_joke_feld" ref="witz_feld">
						{{ random_witz }}
					</div>					<!-- Random witz im Automat-->
					<div class="credit">10</div>


				</div>		<!--Automat-->

				<div class="Witz_schreiben" v-else>
					<textarea spellcheck="true" placeholder="Hier Witz eingeben" value="">
					</textarea>
					<button>In <span class="button1">LEGIT</span> posten?</button>
					<select class="select_categroy">
						<option value="Kategorie auswählen" disabled selected>Kategorie auswählen</option>
						<option v-bind:value="category" v-for="category in category_select">{{ category }}</option>
					</select>



				</div>

			</div>			<!--rechte hälfte für Random witze-->

		</div>			<!--Rest unter der Menuleiste-->
	</div>


	<script>


		var lustig = new Vue({
			el: ".witzspalte",
			data: {
				witze: [],
			},
			mounted: function() {

				this.$http.get('https://legitjokes.herokuapp.com/api/joke?category=1')
				.then(function(resp) {
					this.$data.witze = resp.body.data;

				})
				.catch(function(resp){
					this.$data.witze = "Something went wrong: " + err
				})



			}



		})

		var category = new Vue({
			el: ".navigation",

			data: {
				categories: [],
				cate:[],
				rechteSeite: true,
			},


			mounted: function() {
				this.$http.get('https://legitjokes.herokuapp.com/api/categories')
				.then(function(resp) {
					this.$data.categories = resp.body.data;
					for (var i of this.$data.categories) {
						this.$data.cate.push({Name: i.Category,ID: i.CategoryID});  

					}
				})
				.catch(function(err) {
					this.$data.random_witz = "Something went wrong: " + err
				})		
			},
			methods: {
				switching(){
					veraenderung.$data.rechteSeite = false;
					this.$data.rechteSeite = false;
					
				},
				back_switching(){
					veraenderung.$data.rechteSeite = true;
					this.$data.rechteSeite = true;


				},

				wechsel(id){
					
				console.log(id)
				this.$http.get('https://legitjokes.herokuapp.com/api/joke?category=' + id )
				.then(function(resp) {
					

					lustig.$data.witze = resp.body.data;

				})
				.catch(function(resp){
					lustig.$data.witze = "Something went wrong: " + err
				})
				}

			}
			



		})



		var veraenderung = new Vue({
			el: ".rechts",

			data: {
				zeit: 0,
				coins: 6,
				random_witz: "Hallo user",
				rechteSeite: true,
				category_select: []


		//coins = hier vom Server,
	},
	mounted: function(){
		this.$data.category_select = category.$data.cate;
	},

	methods: {

		zufall(){
			this.$data.zeit = 1;
			ruecksetzung();

      			//für unsere API:

      			this.$http.get('https://legitjokes.herokuapp.com/api/joke/random')
      			.then(function(resp) {
      				this.$data.random_witz = resp.body.data.Content

      		//this.$data.random_witz = resp.body.data.Content

      	})

      			.catch(function(err) {
      				this.$data.random_witz = "Something went wrong: " + err
      			})		
      		}, 

      	}

      });

		var timer;

		function ruecksetzung() {
			timer = setTimeout(change_back, 1300);
		}

		function change_back(){
			veraenderung.$data.zeit = 0;
		}



	</script>
</body>