<!DOCTYPE html>
<head>
	<meta charset="UTF-8">

	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> 
	<link rel="stylesheet" href="startseite_style.css" type="text/css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://unpkg.com/vue" ></script>
	<script src="https://unpkg.com/vue-resource" ></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js" ></script>
	
	<title>LEGIT</title>
</head>


<body>
	<script src="startseite_script.js" defer></script>
	<div class="page">

		<div class="navigation">
			<ul id="navbar">
				<li class="navpoint"><span class="navitem_logo" v-on:click="show_us">LEGIT</span></li>

				<li class="navpoint" v-if="rechteSeite" v-on:click="switching"><span class="navitem_create">Witz schreiben</span></li>

				<li class="navpoint" v-else v-on:click="back_switching"><span class="navitem_create">Automat anzeigen</span></li>

				<li v-for="category in categories" class="navpoint"><span class="navitem" v-on:click="wechsel(category.CategoryID)">{{ category.Category }}</span></li>
				<li class="navpoint" id="username">USERNAME</li>			<!--Menuleiste oben-->

			</ul>
		</div>

		<div id="rest">

			<div class="witzspalte">
				<div class="Legit_team" v-if="active == true">



				</div>
				<div v-else>
					<div class="witze-div" v-for="witz in witze">
						<table class="joke-tabelle">

							<tr>
								<td class="smiley"><i  class="fa fa-smile-o" aria-hidden="ture" v-on:click="upvote(witz.JokeID)"></i></td> <!--Hier mit id des witze die bewertung durchführen-->
								<td>{{ witz.Content }}</td>
								<td class="smiley"><i class="fa fa-meh-o"  aria-hidden="true" v-on:click="downvote(witz.JokeID)"></i></td>
							</tr>
							<tr>
								<td>{{ witz.Upvotes }}</td>
								<td>Witz von <span class="button1">{{ witz.Username }}</span> am {{ witz.Date }}</td>
								<td>{{ witz.Downvotes }}</td>
							</tr>				

						</table>		<!--Witze tabelle-->
					</div> 			 <!--WitzeDiv-->
				</div>
			</div>			<!--linke hälfte mit witzen-->

			<div class="rechts">
				<div class="container" v-if="rechteSeite">

					<div v-if="(zeit == 0 && coins > 0)" class="hebel" v-on:click="zufall"></div>
					<img v-if="(zeit == 0 && coins > 0)" class="automat" src="random/Automat_oben.jpg" alt="Automat hebel oben">
					<img v-if="zeit > 0" class="automat" src="random/Automat.gif" alt="Automat in Bewegung"> 	<!--Automat mit Coins-->
					<img v-if="(zeit == 0 && coins == 0)" class="automat" src="random/Automat_leer.jpg" alt="Automat ohne Geld"> <!--Automat ohne Coins-->
					<div v-if="zeit == 0" class="random_joke_feld">
						{{ random_witz }}
					</div>					<!-- Random witz im Automat-->
					<div class="credit">{{ coins }}</div>


				</div>		<!--Automat-->

				<div class="Witz_schreiben" v-else>
					<textarea spellcheck="true" placeholder="Hier Witz eingeben" value="" v-model="joke">
					</textarea>
					<button v-on:click="submit_joke">In <span class="button1">LEGIT</span> posten?</button>
					<select class="select_categroy">
						<option value="Kategorie auswählen" disabled selected>Kategorie auswählen</option>
						<option v-bind:value="category" v-for="category in categories">{{ category.Category }}</option>
					</select>
					<br>
					<img src="random/select_category.png">

				</div>

			</div>			<!--rechte hälfte für Random witze-->

		</div>			<!--Rest unter der Menuleiste-->
	</div>
</body>